@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{ margin:0; padding:0; box-sizing:border-box; }
body{ line-height:1; font-family:'MaruBuri-Regular'; }
ul, ol, li{ list-style:none; }
a{ text-decoration:none; color:black; }
img, video{ vertical-align:top; }
.clear_fix::after{ content:""; display:block; clear:both; }
table{ border-collapse:collapse; }
input{ outline:0; }
